*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --tertiary-color: #1bb532;
    --quaternary-color: #07290c;
    --quinary-color: #eed70b;
    --senary-color: #f10d0d;
}
.dark-theme{
    --primary-color: #000000;
    --secondary-color: #ffffff;
}
#icon{
    width: 30px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right;
}
.garden{
    height: 100vh;
    width: 100%;
    background:var(--primary-color);
    font-family: sans-serif;
    position: relative;
}
nav{
    width: 84%;
    margin:auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--tertiary-color);
}
.about{
    margin-left: 8%;
    margin-top: 15%;
}
.about h1{
    font-size: 70px;
    color: ver(--secondary-color);
    margin-bottom: 20px;    
}
span{
    color: var(--tertiary-color);
}
.about p{
    color: ver(--secondary-color);
    line-height: 22px;
}
.about a{
    background: ver(--quaternary-color);
    padding: 10px 18px;
    text-decoration: none;
    color:ver(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
header{
    padding: 2cm;
    background-color: ver(--tertiary-color);
    margin-top: 2cm;
    text-align: center;
    color:ver(--secondary-color);   
}
.tip{
    font-size: 2cm;
}
.btn-large{
    margin: 0.5cm;
}
.card{
    text-align: center;
    width: 45cm;
}
.new-tip-button{
    background-color:ver(--quaternary-color);
    border-color: ver(var(--secondary-color)(21,0,255));
}
#button:hover{
 background-color: ver(--senary-color)  
}



/* search page css */  
.search{
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;  
}
  body {background: var(--color-dark); display: flex; align-items: center; justify-content: center; min-height: 100vh }
  html { box-sizing: border-box; height: 100%; font-size: 10px; } *, *::before, *::after { box-sizing: inherit; }

  form {
    position: relative;
    width: 30rem;
    background: var(--color-brand);
    border-radius: var(--rad);
  }
  input, button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.8rem;
  }
  input[type="search"] {
    outline: 0; //
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
  }
  button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: var(--btn-width);
    font-weight: bold;
    background: var(--color-brand);
    border-radius: 0 var(--rad) var(--rad) 0;
  }
  input:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));
    + button {
      display: block;
    }
  }
  label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
  }