<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head"></div>
</head>
<body>
<header th:replace="fragments :: eventNavBar"></header>
<header th:replace="fragments :: eventNav"></header>

<form method="post">
    <div class="form-group">
        <label>Event Label
            <input th:field="${event.label}" class="form-control">
        </label>
        <p class="error" th:errors="${event.label}"></p>
    </div>
    <div class="form-group">
        <label>Description
            <input th:field="${event.eventDetails.description}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.description}"></p>
    </div>
    <div class="form-group">
        <label>Date
            <input th:field="${event.eventDetails.date}" class="form-control">
        </label>
        <p class="error" th:errors="${event.eventDetails.date}"></p>
    </div>
    <div class="form-group">
        <label>Type
            <select th:field="${event.eventDetails.type}">
                <option th:each="type : ${types}"
                        th:value="${type}"
                        th:text="${type.displayName}"
                ></option>
            </select>
            <p class="error" th:errors="${event.eventDetails.type}"></p>
        </label>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success">
    </div>
</form>
</div>
</body>
</html>