<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head2"></div>
</head>
<body>
<div class="garden">

<div th:replace="fragments:: navBar2"></div>

<header th:replace="fragments :: eventNav"></header>

<form method="post">

    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.label}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</body>
</html>