<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head"></div>
</head>
<body>
<header th:replace="fragments :: eventNavBar"></header>

<form method="post">

    <th:block th:each="event : ${events}">
        <div class="form-group">
            <label>
                <span th:text="${event.label}"></span>
                <input type="checkbox" name="eventIds" th:value="${event.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Edit">
</form>

</body>
</html>