<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head"></div>
</head>
<body>
<div class="garden">
<header th:replace="fragments :: eventNavBar"></header>
<header th:replace="fragments :: eventNav"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Events</th>
    </tr>
    </thead>
    <tr th:each="event : ${events}">
        <td><a th:href="'/events/detail?eventId=' + ${event.id}" th:text="${event.label}"></a></td>
    </tr>
</table>
</div>
</body>
</html>