html {
    height: 100%;
  }

  body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #3a3a3a;
  }

  #main-holder {
    width: 50%;
    height: 70%;
    display: grid;
    justify-items: center
    align-items: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 2px black;
  }

  #login-error-msg-holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  #login-error-msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    border: 1px solid #8a0000;
    background-color: #e58f8f;
    opacity: 0;
  }

  #error-msg-second-line {
    display: block;
  }

  #login-form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
  }

  .login-form-field::placeholder {
    color: #3a3a3a;
  }

  .login-form-field {
    border: none;
    border-bottom: 1px solid #3a3a3a;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
  }

  #login-form-submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
  }
*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color: #ffffff; /*White*/
    --secondary-color: #000000; /*Black*/
    --tertiary-color: #1bb532; /*Plant Green*/
    --quaternary-color: #07290c; /*Dark Green*/
    --quinary-color: #eed70b; /*Yellow*/
    --senary-color: #f10d0d; /*Red*/
}
.dark-theme{
    --primary-color: #000000;
    --secondary-color: #ffffff;
}
#icon{
    width: 25px;
    cursor: pointer;
}

#icon2{
    width: 25px;
    cursor: pointer;
}

#icon3{
    width: 25px;
    cursor: pointer;
}

#icon4{
    width: 25px;
    cursor: pointer;
}

#icon5{
    width: 25px;
    cursor: pointer;
}

nav ul{
    flex: 1;
    text-align: right;
}
.garden{
    height: 100vh;
    width: 100%;
    background:var(--primary-color);
    /*background-position: center;*/
    font-family: sans-serif;
    position: relative;
    overflow-x: hidden;
}
.footer{
    height: 30vh;
    width: 100%;
    background:var(--primary-color);
    background-position: center;
    font-family: sans-serif;
    position: relative;
}
navbar{
    height:60vh;
}
listNavbar{
    height:60vh;
}
eventNavbar{
    height:60vh;
}
gardenNavbar{
    height:60vh;
}
userNavbar{
    height:60vh;
}

nav{
    width: 84%;
    margin:auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 100px;
    cursor: pointer;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--secondary-color);
}
nav ul li a:hover{
    color: var(--tertiary-color);
}
.about{
    margin-left: 8%;
    margin-top: 15%;
}
.about h1{
    font-size: 70px;
    color: ver(--secondary-color);
    margin-bottom: 20px;
}
span{
    color: var(--tertiary-color);
}
.about p{
    color: ver(--secondary-color);
    font-size: 25px;
    line-height: 22px;
    margin-bottom: 20px;
    padding: 10px 18px;
}
.about a{
    background: ver(--primary-color);
    font-size: 25px;
    padding: 10px 18px;
    text-decoration: none;
    color:ver(--primary-color);
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
/*header{
    padding: 2cm;
    background-color: ver(--tertiary-color);
    margin-top: 2cm;
    text-align: center;
    color:ver(--secondary-color);
}*/
/*.tip{
    font-size: 20cm;
}*/
.btn-large{
    margin: 0.5cm;
}
.card{
    font-size: 20px;
    color: var(--secondary-color);
    text-align: center;
    width: 60%;
    background-color: var(--primary-color); /* White */
}
.new-tip-button{
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      max-width: 1000cm;
}
.new-tip-button:hover{
    color: var(--secondary-color);
    /*background-color: ver(--primary-color)*/
}


