<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: innerHead"></div>
</head>
<body>
<div class="garden">
<header th:replace="fragments :: gardenNavBar"></header>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Garden Areas</th>
    </tr>
    </thead>
    <tr th:each="gardenArea : ${gardenAreas}">
        <td><a th:href="'/gardenArea/detail?gardenAreaId=' + ${gardenArea.id}" th:text="${gardenArea.name}"></a></td>
    </tr>
</table>
</div>
</body>
</html>