<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="garden">
<header th:replace="fragments :: listNavBar"></header>
<header th:replace="fragments :: listNav"></header>

<form method="post">

    <th:block th:each="plant : ${plants}">
        <div class="form-group">
            <label>
                <span th:text="${plant.commonName}"></span>
                <input type="checkbox" name="plantIds" th:value="${plant.id}" class="form-control">
            </label>
        </div>
    </th:block>

    <input type="submit" value="Delete" class="btn btn-danger">
</form>
</div>
</body>
</html>