<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: innerHead"></div>
</head>
<body>
<div class="garden">
    <header th:replace="fragments :: plantNavBar"></header>
    <header th:replace="fragments :: plantNav"></header>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${plant.id}"></td>
    </tr>
    <tr>
        <th>Common Name</th>
        <td th:text="${plant.commonName}"></td>
    </tr>
    <tr>
        <th>Scientific Name</th>
        <td th:text="${plant.plantDetails.scientificName}"></td>
    </tr>
    <tr>
        <th>Plant Type</th>
        <td th:text="${plant.plantDetails.plantType}"></td>
    </tr>
    <tr>
        <th>Edible</th>
        <td th:text="${plant.plantDetails.isEdible}"></td>
    </tr>
    <tr>
        <th>Flower Color</th>
        <td th:text="${plant.plantDetails.flowerColors}"></td>
    </tr>
    <tr>
        <th>Variety</th>
        <td th:text="${plant.plantDetails.variety}"></td>
    </tr>
    <tr>
        <th>Days to Harvest</th>
        <td th:text="${plant.plantDetails.daysToHarvest}"></td>
    </tr>
    <tr>
        <th>Water Tolerance</th>
        <td th:text="${plant.plantDetails.waterTolerance}"></td>
    </tr>
    <tr>
        <th>Shade Tolerance</th>
        <td th:text="${plant.plantDetails.shadeTolerance}"></td>
    </tr>
    <tr>
        <th>Ph Range</th>
        <td th:text="${plant.plantDetails.phRange}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${plant.plantDetails.description}"></td>
    </tr>
    <tr>
        <th>Planting Notes</th>
        <td th:text="${plant.plantDetails.plantingNotes}"></td>
    </tr>
</table>
    <div th:replace="fragments:: footer"></div>
</div>

<script th:replace="fragments:: plantScript"></script>
</body>
</html>