<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments :: innerHead"></div>
</head>
<body>
<div class="garden">
    <header th:replace="fragments :: plantNavBar"></header>
    <header th:replace="fragments :: plantNav"></header>
<table class="table table-striped">
    <tr>
        <th>ID</th>
        <td th:text="${plant.id}"></td>
    </tr>
    <tr>
        <th>Soil Depth</th>
        <td th:text="${gardenArea.gardenAreaDetails.soilDepthInches}"></td>
    </tr>
    <tr>
        <th></th>
        <td th:text="${gardenArea.gardenAreaDetails.soilDepthInches}"></td>
    </tr>
    <tr>
        <th>Edible</th>
        <td th:text="${plant.plantDetails.isEdible}"></td>
    </tr>
    <tr>
        <th>Water Tolerance</th>
        <td th:text="${plant.plantDetails.waterTolerance}"></td>
    </tr>
    <tr>
        <th>Shade Tolerance</th>
        <td th:text="${plant.plantDetails.shadeTolerance}"></td>
    </tr>
    <tr>
        <th>Ph Value</th>
        <td th:text="${}"></td>
    </tr>
    <tr>
        <th>Description</th>
        <td th:text="${plant.plantDetails.description}"></td>
    </tr>
    <tr>
        <th>Bed Type</th>
        <td th:text="${gardenArea.gardenAreaDetails.bedType}"></td>
    </tr>
</table>
    <div th:replace="fragments:: footer"></div>
</div>

<script th:replace="fragments:: plantScript"></script>
</body>
</html>