<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
    <div class="d-flex flex-row bd-highlight mb-3">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <title ></title>
    </div>
</head>
<body class="container  body-content" background="c:/users/vijay/garden.jpg">
<h1> Zone Information</h1>

<nav th:replace="fragments :: page-header"></nav>

<form method="post" style="max-width:600px;">
    <div class="d-flex justify-content-between">
        <label th:for="name">Zone Name</label>
        <input class="form-control" th:field="${zone.name}" />
        <span th:errors="${zone.name}" class="error"></span>
    </div>
    <div class="d-flex justify-content-between">
        <label th:for="description"> List of Plants grown</label>
        <input class="form-control" th:field="${description}" />
        <span th:errors="${skill.description}" class="error"></span>
    </div>

    <input type="submit" value="save" />
</form>
</body>
</html>