<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head2"></div>
</head>
<body>
<div class="garden">
<div th:replace="fragments:: navbar2"></div>
<form method="post">
    <h1>Login</h1>
    <div class="form-group">
        <label th:for="username">Username
            <input class="form-control" th:field="${loginFormDTO.username}">
        </label>
        <p class="error" th:errors="${loginFormDTO.username}"></p>
    </div>
    <div class="form-group">
        <label>Password
            <input class="form-control" th:field="${loginFormDTO.password}" type="password">
        </label>
        <p class="error" th:errors="${loginFormDTO.password}"></p>
    </div>
    <br>
    <input type="submit" class="btn btn-primary" value="Log In" />
</form>
<br>

<p>Don't have an account? <a href="/users/register">Register for one.</a></p>
</body>
</html>