<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head2"></div>
    <!--    <title th:text="{$title}">TimeLeaf Garden App</title>-->
    <title>TimeLeaf Garden App | My Account </title>
</head>
<body>
    <div th:replace="fragments:: navbar"></div>
    <div class="container" style="margin-top:50px">
        <h1>My Profile</h1>
        <h2>Gardener Level: Green Thumb</h2>
        <img src="/img/profile.jpg" class="rounded" alt="Avatar" width="204" height="136" style="margin-top:50px" id="profile">
        <h3 style="margin-top:50px"> USERNAME: PlantLoverGirl</h3>
        <h3>GROW ZONE: Zone6 </h3>

    </div>
    <div class="container">
        <h1 class="text-center"></h1>
    </div>

</div>
    <div th:replace="fragments:: footer"></div>

<script th:replace="fragments:: script"></script>
</body>
</html>