<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>in progress</title>
</head>
<body>

<header th:fragment="eventNav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete Events</a></li>
    </ul>
</header>

<div th:fragment = "footer">
    <div class="row flex-top justify-content-center">
        <button id="button" class="btn-large new-tip-button" onClick="getTip()">New Garden Tip</button>
    </div>
    <div class="row justify-content-center">
        <main class="card">
            <p class="quote card-body center" id="newTipSection">...</p>
        </main>
    </div>

</div>

<div th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>

<div th:fragment="navbar">
    <nav>
        <img src="/images/logo.jpg" class="logo">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="/search/plantsearch">SEARCH</a></li>
            <!--            <li><a href="/search/plantlist">PLANTS</a></li>-->
            <li><a href="/garden/mygarden">MY GARDEN AREA</a></li>
            <li><a href="/events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="/users/myaccount">MY ACCOUNT</a></li>
            <li><a href="/users/login">LOGIN/REGISTER</a></li>
            <li> <img src="/images/moon.png" id="icon"></li>
        </ul>
    </nav>
</div>

</div>

<script th:fragment = "script">
    var icon = document.getElementById("icon");
    icon.onclick = function(){
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme")){
            icon.src = "/images/sun.jpg";
        }else{
            icon.src = "/images/moon.png";
        }
    }
</script>

</body>
</html>