<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>in progress</title>
</head>
<body>

<header th:fragment="gardenAreaNav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/gardenArea/add">Create Garden Area</a></li>
        <li class="nav-item"><a class="nav-link" href="/gardenArea/delete">Delete Garden Area</a></li>
        <li class="nav-item"><a class="nav-link" href="/garden">My Garden</a></li>
    </ul>
</header>

<header th:fragment="eventNav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete Events</a></li>
    </ul>
</header>

<header th:fragment="listNav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/list">All Plants</a></li>
        <li class="nav-item"><a class="nav-link" href="/list/ph">Plants by Ph</a></li>
        <li class="nav-item"><a class="nav-link" href="/list/shade">Plants by Shade</a></li>
        <li class="nav-item"><a class="nav-link" href="/list/type">Plants by Type</a></li>
        <li class="nav-item"><a class="nav-link" href="/list/shade">Plants by Flower Color</a></li>
        <li class="nav-item"><a class="nav-link" href="/list/shade">Plants by Shade</a></li>
        <li class="nav-item"><a class="nav-link" href="/list/zone">Plants by Zone</a></li>

    </ul>
</header>

<header th:fragment="plantNav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/plant">All Plants</a></li>
        <li class="nav-item"><a class="nav-link" href="/plant/add">Add Plants</a></li>
        <li class="nav-item"><a class="nav-link" href="/plant/delete">Delete Plants</a></li>
    </ul>
</header>

<div th:fragment = "footer">
    <div class="row flex-top justify-content-center">
        <button id="button" class="btn-large new-tip-button" onClick="getTip()">New Garden Tip</button>
    </div>
    <div class="row justify-content-center">
        <main class="card">
            <p class="quote card-body center" id="newTipSection">...</p>
        </main>
    </div>

</div>

<div th:fragment="head">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>

<div th:fragment="innerHead">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles.css">
    <script src="../script.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</div>

<div th:fragment="navbar">
    <nav>
        <img src="/images/logo.jpg" class="logo">
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="/plant/">PLANTS</a> </li>
            <li><a href="/list/">LIST</a></li>
            <li><a href="/garden/">MY GARDEN</a></li>
            <li><a href="/gardenArea/">GARDEN AREAS</a> </li>
            <li><a href="/events/">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="/users/myaccount">MY ACCOUNT</a></li>
            <li><a href="/users/login">LOGIN/REGISTER</a></li>
            <li> <img src="/images/moon.png" id="icon"></li>
        </ul>
    </nav>
</div>

<div th:fragment="listNavBar">
    <nav>
        <img src="../images/logo.jpg" class="logo">
        <ul>
            <li><a href="../">HOME</a></li>
            <li><a href="../plant/">PLANTS</a> </li>
            <li><a href="/list/">LIST</a></li>
            <li><a href="../garden/">MY GARDEN</a></li>
            <li><a href="../gardenArea/">GARDEN AREAS</a> </li>
            <li><a href="../events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="../users/myaccount">MY ACCOUNT</a></li>
            <li><a href="../users/login">LOGIN/REGISTER</a></li>
            <li> <img src="../images/moon.png" id="icon2"></li>
        </ul>
    </nav>
</div>

<div th:fragment="eventNavBar">
    <nav>
        <img src="../images/logo.jpg" class="logo">
        <ul>
            <li><a href="../">HOME</a></li>
            <li><a href="../plant/">PLANTS</a> </li>
            <li><a href="../list/">LIST</a></li>
            <li><a href="../garden/">MY GARDEN</a></li>
            <li><a href="../gardenArea/">GARDEN AREAS</a> </li>
            <li><a href="/events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="../users/myaccount">MY ACCOUNT</a></li>
            <li><a href="../users/login">LOGIN/REGISTER</a></li>
            <li> <img src="../images/moon.png" id="icon3"></li>
        </ul>
    </nav>
</div>

<div th:fragment="gardenNavBar">
    <nav>
        <img src="../images/logo.jpg" class="logo">
        <ul>
            <li><a href="../">HOME</a></li>
            <li><a href="../plant/">PLANTS</a> </li>
            <li><a href="../list/">LIST</a></li>
            <li><a href="/garden/">MY GARDEN</a></li>
            <li><a href="../gardenArea/">GARDEN AREAS</a></li>
            <li><a href="../events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="../users/myaccount">MY ACCOUNT</a></li>
            <li><a href="../users/login">LOGIN/REGISTER</a></li>
            <li> <img src="../images/moon.png" id="icon4"></li>
        </ul>
    </nav>
</div>

<div th:fragment="userNavbar">
    <nav>
        <img src="../images/logo.jpg" class="logo">
        <ul>
            <li><a href="../">HOME</a></li>
            <li><a href="../plant/">PLANTS</a> </li>
            <li><a href="../list/">LIST</a></li>
            <li><a href="../garden/">MY GARDEN</a></li>
            <li><a href="../gardenArea/">GARDEN AREAS</a> </li>
            <li><a href="../events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="/users/myaccount">MY ACCOUNT</a></li>
            <li><a href="/users/login">LOGIN/REGISTER</a></li>
            <li> <img src="../images/moon.png" id="icon5"></li>
        </ul>
    </nav>
</div>

<div th:fragment="gardenAreaNavbar">
    <nav>
        <img src="../images/logo.jpg" class="logo">
        <ul>
            <li><a href="../">HOME</a></li>
            <li><a href="../plant/">PLANTS</a> </li>
            <li><a href="../list/">LIST</a></li>
            <li><a href="/garden/">MY GARDEN</a></li>
            <li><a href="/gardenArea/">GARDEN AREAS</a> </li>
            <li><a href="../events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="../users/myaccount">MY ACCOUNT</a></li>
            <li><a href="../users/login">LOGIN/REGISTER</a></li>
            <li> <img src="../images/moon.png" id="icon7"></li>
        </ul>
    </nav>
</div>

<div th:fragment="plantNavbar">
    <nav>
        <img src="../images/logo.jpg" class="logo">
        <ul>
            <li><a href="../">HOME</a></li>
            <li><a href="/plant/">PLANTS</a> </li>
            <li><a href="../list/">LIST</a></li>
            <li><a href="../garden/">MY GARDEN</a></li>
            <li><a href="/gardenArea/">GARDEN AREAS</a> </li>
            <li><a href="../events">CALENDAR</a></li>
            <!--            Maybe we can make my account only available once you're logged in? -->
            <li><a href="../users/myaccount">MY ACCOUNT</a></li>
            <li><a href="../users/login">LOGIN/REGISTER</a></li>
            <li> <img src="../images/moon.png" id="icon6"></li>
        </ul>
    </nav>
</div>

<script th:fragment = "script">

        var icon = document.getElementById("icon");
        icon.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon.src = "/images/sun.jpg";
            }else{
            icon.src = "/images/moon.png";
        }
}
</script>

<script th:fragment = "listScript">

        var icon2 = document.getElementById("icon2");
        icon2.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon2.src = "../images/sun.jpg";
            }else{
            icon2.src = "../images/moon.png";
        }
}
</script>

<script th:fragment = "eventScript">

        var icon3 = document.getElementById("icon3");
        icon3.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon3.src = "../images/sun.jpg";
            }else{
            icon3.src = "../images/moon.png";
        }
}
</script>

<script th:fragment = "gardenScript">

        var icon4 = document.getElementById("icon4");
        icon4.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon4.src = "../images/sun.jpg";
            }else{
            icon4.src = "../images/moon.png";
        }
}
</script>

<script th:fragment = "userScript">

        var icon5 = document.getElementById("icon5");

        icon5.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon5.src = "../images/sun.jpg";
            }else{
            icon5.src = "../images/moon.png";
        }
}
</script>

<script th:fragment = "plantScript">

        var icon6 = document.getElementById("icon6");

        icon5.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon6.src = "../images/sun.jpg";
            }else{
            icon6.src = "../images/moon.png";
        }
}
</script>

<script th:fragment = "gardenAreaScript">

        var icon7 = document.getElementById("icon7");

        icon7.onclick = function(){
            document.body.classList.toggle("dark-theme");
            if(document.body.classList.contains("dark-theme")){
            icon7.src = "../images/sun.jpg";
            }else{
            icon7.src = "../images/moon.png";
        }
}
</script>

</body>
</html>