<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>in progress</title>
</head>
<body>

<header th:fragment="eventNav">
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories">All Event Types</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories/create">Create Event Type</a></li>
    </ul>
</header>

</body>
</html>