<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <div th:replace="fragments:: head"></div>
    <title>TimeLeaf Garden App</title>
</head>
<body>
<div class="garden">
<div th:replace="fragments:: navbar"></div>
    <div class="about">
        <h1>Welcome to the  <span>TimeLeaf</span>  Garden Planner</h1>
        <p>Need help planning your next harvest or floral garden oasis? The TimeLeaf
            garden planner is here to help!
        </p>
        <a href="/garden/mygarden">Start Planning Here!</a>
    </div>

    <div th:replace="fragments:: footer"></div>
</div>

</body>
</html>