<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources/static/styles.css">
</head>
<body>
<div class="garden">
    <nav>
        <img src="images/logo.jpg" class="logo">
        <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="plant-search.html">SEARCH</a></li>
            <li><a href="search/plant-list.html">PLANTS</a></li>
            <li><a href="templates/garden/my-garden.html">MY GARDEN AREA</a></li>
            <li><a href="calendar">CALENDAR</a></li>
            <li><a href="resources/templates/users/my-account.html">MY ACCOUNT</a></li>
        </ul>
        <img src="images/moon.png" id="icon">
    </nav>
    <div class="about">
        <h1>Welcome to the  <span>TimeLeaf</span>  Garden Planner</h1>
        <p>Need help planning your next harvest or floral garden oasis? The TimeLeaf
            garden planner is here to help!
        </p>
        <a href="templates/garden/my-garden.html">Start Planning Here!</a>
    </div>

</div>
<div class="container">
    <div class="row flex-top justify-content-center">
        <header class="border shadow">
            <h1>Garden Tips</h1>
        </header>
    </div>
    <div class="row flex-top justify-content-center">
        <button id="button" class="btn-large new-tip-button" onClick="getTip()">NewTip</button>
    </div>
<div class="row justify-content-center">
<main class="card">
    <p class="quote card-body center" id="newTipSection">...</p>
</main>
</div>
</div>
<script src="app.js"></script>
<script>
    var icon = document.getElementById("icon");
    icon.onclick = function(){
        document.body.classList.toggle("dark-theme");
        if(document.body.classList.contains("dark-theme")){
            icon.src = "images/sun.jpg";
        }else{
            icon.src = "images/moon.png";
        }
    }
</script>
</body>
</html>